{
  "extends": ["airbnb", "plugin:ava/recommended", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "plugins": ["ava", "prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "es6": true,
      "classes": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "comma-dangle": [1, "only-multiline"],
    "no-else-return": [0],
    "no-underscore-dangle": 0,
    "max-len": [1, 80, 4],
    "arrow-body-style": [0],
    "import/no-unresolved": [0],
    "import/no-named-as-default": [0],
    "import/imports-first": [0],
    "import/no-extraneous-dependencies": [0],
    "import/first": [0],
    "react/jsx-no-bind": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-space-before-closing": [0],
    "react/jsx-first-prop-new-line": [0],
    "react/jsx-closing-bracket-location": [0],
    "react/forbid-prop-types": [0],
    "react/prop-types": [0],
    "react/no-multi-comp": [0],
    "react/prefer-stateless-function": [0],
    "react/jsx-boolean-value": [0],
    "react/no-did-update-set-state": [0],
    "react/no-unused-prop-types": [1],
    "react/no-string-refs": [1],
    "react/no-find-dom-node": [0],
    "react/jsx-tag-spacing": [0],
    "react/require-default-props": [0],
    "jsx-a11y/href-no-hash": [0],
    "jsx-a11y/no-static-element-interactions": [1],
    "jsx-a11y/img-has-alt": [0],
    "no-unused-vars": [1],
    "no-case-declarations": [0],
    "ava/prefer-async-await": [0],
    "linebreak-style": [0],
    "no-restricted-syntax": [0],
    "no-lonely-if": [0],
    "newline-per-chained-call": [0]
  }
}
